* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-blue: #0B2434;
  --btn-color: hsl(203deg 61% 30%);
  /* --btn-color: rgb(15 64 95); */
  --white: #fff;
  --base-radius: 5px;
}

button {
  cursor: pointer;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--dark-blue);
  font-family: 'Noto Sans TC', sans-serif;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 30px 20px;
  max-width: 560px;
}

.container {
  width: 100%;
  max-width: 520px;
  padding: 2.5rem;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  text-align: center;
}

.header__title {
  font-weight: bold;
  font-size: 2.25rem;
}

.header__description {
  font-size: 1.25rem;
  margin-top: 1.25rem;
}

.play {
  margin-top: 3rem;
}

.numbers {
  display: grid;
  justify-items: center;
  justify-content: space-between;
  align-items: start;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 1.75rem;
}

.number {
  text-align: center;
  font-size: 3.5rem;
  font-weight: bold;
  border: 0;
  background-color: transparent;
  padding: 0;
  color: var(--dark-blue);
}

.btn {
  padding: .75em 1.5em;
  margin-top: 3rem;
  font-weight: bold;
  font-size: 1.25rem;
  
  background-color: var(--btn-color);
  color: var(--white);
  border: 0;
  border-radius: var(--base-radius);
}

.btn:hover{
  /* background-color: hsl(203deg 73% 35%); */
  background-color:  rgb(15 64 95);
}

@media screen and (max-width: 576px) {
  .play {
    margin-top: 2rem;
  }

  .container {
    padding: 1.75rem 1.5rem;
  }

  .header__title {
    font-size: 2rem;
  }

  .header__description {
    font-size: 1.125rem;
    margin-top: 1rem;
    letter-spacing: 0.08em;
  }

  .numbers {
    row-gap: 1.25rem;
  }

  .number {
    font-size: 3rem;
  }

  .btn {
    font-size: 1rem;
    margin-top: 2rem;
  }
}